/* MAIN COLORS VARIABLES*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-gray: #777777;
$color-primary-white: #ffffff;
$color-primary-black: #111111;
