.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    color: $color-primary-white;
    font-size: 2rem;
    height: 50rem;
    text-align: left;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    &--front {
      background-color: $color-primary-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-color: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
