/* MAIN RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* GLOBAL FONT SIZE */
html {
  font-size: 10px;
}

/* BODY STYLES */
body {
  box-sizing: border-box;
  margin: inherit;
  padding: inherit;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-primary-gray;
  padding: 3rem;
}
