/* MAIN RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* GLOBAL FONT SIZE */
html {
  font-size: 62.5%;
}

/* BODY STYLES */
body {
  box-sizing: border-box;
  margin: inherit;
  padding: 3rem;
}
